@import '~global/styles';

.drawerWrapper {
  display: flex;

  .drawer {
    width: 300px;
    flex-shrink: 0;
  }

  .drawerPaper {
    width: 300px;
    background-color: $secondary;
    padding: 40px 45px;
    height: 100vh;
    position: relative;
  }

  .bottomMenu {
    position: absolute;
    bottom: 40px;
  }
}

