@import '~global/styles';

.drawerWrapper {
  display: flex;

  .drawer {
    width: 300px;
    flex-shrink: 0;
  }

  .drawerPaper {
    width: 300px;
    background-color: $secondary;
    padding: 40px 45px;
    height: 100vh;
    position: relative;
  }

  .bottomMenu {
    position: absolute;
    bottom: 40px;
  }

  .navLink {
    color: $white;
    display: block;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 18px;
    letter-spacing: 0.11px;
    line-height: 21px;
    margin-top: 25px;
  
    &.active {
      color: $yellow;
    }
  
    img {
      margin-right: 13px;
    }
  }
}

