@import '~global/styles';

.root {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  .chip {
    color: $gray;
    font-family: "Roboto-Medium";
    font-size: 12px;
    letter-spacing: 0.38px;
    line-height: 14px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid rgba(178, 180, 189, 0.5);
    border-radius: 12.5px;
    height: 20px;
    text-transform: uppercase;

    span {
      padding: 0 8px;
    }
  }
}