
@import '~global/styles';

.commentsWrapper {
  padding: 0 30px;
  width: 100%;

  .commentField {
    display: inline-flex;
    width: 100%;

    .avatar {
      margin-right: 17px;
      background: nth($avatar-colors, random(length($avatar-colors)));
    }
  }

  .comment {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid rgba(178, 180, 189, 0.5);
    position: relative;

    .contentWrapper {
      display: inline-flex;

      .avatar {
        margin-right: 17px;
        background: nth($avatar-colors, random(length($avatar-colors)));
      }

      .name {
        font-family: 'Roboto-Medium';
        margin-bottom: 12px;
      }

      .details {
        margin-bottom: 17px;
      }

      .date {
        font-size: 14px;
        letter-spacing: 0.09px;
        line-height: 16px;
        color: $lightgray2;
      }
    }
  }
}

.actionsWrapper {
  position: absolute;
  right: 5px;
  top: 25px;

  .button {
    padding: 5px;
  }

  .popper {
    padding: 15px;
    background: $white;
    border-radius: 8px;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,0.15);
    position: relative;
    min-width: 100px;

    &:after{
      content:'';
      position: absolute;
      border: 10px solid transparent;
      border-bottom: 10px solid $white;
      top: -20px;
      left: 40%;
    }
  }

  button.actionButton {
    background: transparent;
    font-family: "Roboto";
    font-size: 15px;
    letter-spacing: 0.44px;
    line-height: 16px;
    color: $darkgray1;
    text-transform: capitalize;
    padding: 0;
  
    &:hover,
    &:focus {
      background: inherit;
    }
  
    img {
      margin-right: 7px;
      width: 15px;
    }
  }
}