@import '~global/styles';

.pageWrapper {
  display: flex;
  width: 100%;
  background: $secondary;
  
  .contentWrapper {
    background: $offwhite;
    border-top-left-radius: 12px;
    padding: 40px;
    max-height: 98vh;
    overflow-y: scroll;
    width: 100%;
  }
}