@import '~global/styles';

.wrapper {
  display: flex;
  background: $secondary;
}

.appMain {
  flex-grow: 1;
  height: 98vh;
  margin-top: 2vh;
  background: $offwhite;
  border-top-left-radius: 12px;
}