@import '~global/styles';

.wrapper {
  display: flex;
  background: $secondary;
}

.appMain {
  height: 98vh;
  margin-top: 2vh;
  background: $offwhite;
  overflow: hidden;
  display: flex;
  width: 100vw;
}