$font-family: 'Roboto', sans-serrif;
$background-color: #f1f5f8;

// Colors
$primary: #ef8c20;
$secondary: #121b3c;
$gray: #b2b4bd;
$gray2: #8e8e8e; // use in placeholders
$gray3: #8a8a8a; // use in parent title of cards
$lightgray: #e6e9eb;
$lightgray2: #656a7c; // use in meta
$darkgray1: #333333; // use in headers
$darkgray2: #3a3a3a; // use in subheader / light headers
$white: #fff;
$offwhite: #f1f5f8;
$darkblue: #0a122d;
$darkorange: #ef5f20;
$red: #e50e56; //use in refute hypothesis
// use in contribution heirarchy - in order QHED-AAA
$yellow: #f2ba1d;
$orange: #ec8a21;
$green: #12b255;
$indigo: #3476d6;
$purple: #724586;

$avatar-colors: $yellow, $orange, $green, $indigo, $purple,
  $darkorange, $primary;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'gray': $gray,
  'white': $white,
  'lightgray': $lightgray
);

$spacers: (
  10: 10px,
  12: 12px,
  15: 15px,
  20: 20px,
  25: 25px,
  30: 30px,
  35: 35px,
  40: 40px
);

@mixin for-tablet-and-less {
  @media screen and (max-width: 900px) {
    @content;
  }
}

/** Helper Classes **/
.padding {
  &-40 {
    padding: 40px;
  }
}

.mt {
  &-10 {
    margin-top: 10px;
  }
}

.mb {
  &-15 {
    margin-bottom: 15px;
  }
}

// aligns element inside class
.align {
  &-center {
    * {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/** MUI Component Overrides **/

// Typograhy

.MuiTypography-root {
  color: $darkgray1;

  &.MuiTypography-h1 {
    font-family: 'Roboto-Bold';
    font-size: 24px;
    letter-spacing: 0.75px;
    line-height: 28px;
  }
  &.MuiTypography-h2 {
    font-family: 'Roboto';
    font-size: 20px;
    letter-spacing: 0.4px;
    line-height: 24px;
  }
  &.MuiTypography-h3 {
    font-family: 'Roboto';
    font-size: 20px;
    letter-spacing: 0.13px;
    line-height: 24px;
    color: $darkgray2;
  }
  &.MuiTypography-h5 {
    font-family: 'Roboto-Medium';
    font-size: 14px;
    letter-spacing: 0.44px;
    line-height: 16px;
    text-transform: uppercase;
  }
  &.MuiTypography-body1 {
    font-family: 'Roboto';
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 24px;
  }
  &.MuiTypography-body2 {
    font-family: 'Roboto';
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 24px;
    color: $gray2;
  }
}

// Divider

hr.MuiDivider-root {
  margin: 30px 0;
}

// Accordion
.MuiAccordion-root {
  .MuiAccordionSummary-root {
    .MuiAccordionSummary-content {
      margin: 0;
      padding: 0;

      &.Mui-expanded {
        margin: 0;
      }
    }

    .MuiAccordionSummary-expandIcon {
      padding: 0;
      margin: 0;
    }
  }
}

// Contribution Colors

// @temp: move when data is available
span {
  &.question {
    color: $yellow;
  }
  &.hypothesis {
    color: $orange;
  }
  &.experiment {
    color: $green;
  }
  &.data {
    color: $indigo;
  }
  &.analysis {
    color: $purple;
  }
}

// Buttons target root mui classes later @k

button.btn {
  box-sizing: border-box;
  height: 45px;
  border-radius: 27px;

  span {
    font-family: 'Roboto-Medium';
  }

  &.outline {
    border: 1px dashed $primary;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.09px;
    line-height: 16px;
    color: $primary;
    padding: 0 45px;
    box-shadow: none;
  }
}

.ql-container.ql-snow {
  height: 130px;
}
