@import '~global/styles';

.tabsWrapper {
    background-color: transparent;
    height: auto;
  
  .tabs {
    border-left: 1px solid $gray;
  
    .tabIndicator {
      left: 0;
      right: unset;
      background-color: $primary
    }
  }

  .tab {
    padding: 10px 30px;

    .tabWrapper {
      display: block;
      text-align: left;
      text-transform: none;
    }
  }
}

.tabPanel {
  width: 100%;
}

.accordionWrapper {
  width: 100%;

  .accordion {
    width: 100%;
    border-radius: 8px;
    background: $white;
    border: 1px solid $lightgray;
    box-shadow: none;

    .accordionSummary {
      padding: 30px;
    }

    .accordionDetails {
      padding: 10px 30px 30px 30px;
    }
  }
}