@import '~global/styles';

.button {
  background-color: $primary;
  color: white;
  border-color: $primary;

  &:hover {
    background-color: white;
    color: $primary;
    border-color: white;
  }
}

.form {
  padding-right: 5vh;

  .typography {
    text-decoration: none;
  }

  .list {
    width: 100%;

    .typography {
      color: #ef8c20;

      .deleteIcon {
        position: relative;
        top: 2px;
        margin-right: 6px;
      }
    }
  }

  .btnBack {
    background-color: inherit;
    border: none;
    outline: none;
    
    .btnBack:focus,
    .btnBack:active:focus,
    .btnBack.active:focus,
    .btnBack.focus,
    .btnBack:active.focus,
    .backNav {
      margin-bottom: 30px;
      cursor: pointer;

      h4.back {
        font-family: 'Roboto';

        .icon {
          position: relative;
          top: -1px;
          margin-right: 15px;
        }
      }
    }
  }

  .addMedia {
    width: 18vh;
    height: 5vh;
    color: #ef8c20;
    font-weight: bold;
    border-color: #ef8c20;
    border-radius: 3vh;
  }

  .btnContainer {
    position: relative;
    bottom: 0;
    right: 0;
    text-align: end;

    .publishBtn {
      width: 18vh;
      height: 5vh;
      margin-left: 20px;
      color: white;
      font-weight: bold;
      background-color: #ef8c20;
      border-radius: 3vh;
    }

    .addBtn {
      width: 18vh;
      height: 5vh;
      color: #ef8c20;
      font-weight: bold;
      border-color: #ef8c20;
      border-radius: 3vh;
    }

    .deleteBtn {
      width: 18vh;
      height: 5vh;
      color: red;
      font-weight: bold;
      border-color: red;
      border-radius: 3vh;
    }
  }
}
