@import '~global/styles';

.inputControl {
  .label {
    color: black;
  }

  .input {
    width: 100%;
    margin-top: 13px;
    background-color: white;
  }

  .required {
    color: red;
  }
}

.multiSelectControl {
  .label {
    color: black;
  }

  .input {
    width: 100%;
    background-color: white;
  }

  .required {
    color: red;
  }
}

.error {
  color: red;
  background-color: white;
  margin: 0;
  font-size: 0.75rem;
  margin-top: 3px;
  text-align: left;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  padding-left: 14px;
}
