@import '~global/styles';

.heirarchyWrapper {
  ul.heirarchyList {
    list-style-type: none;
    padding: 0;
    li.contribution {
      position: relative;
      cursor: pointer;
      &.question {
        padding: 0;
      }
      &.hypothesis,
      &.experiment,
      &.data,
      &.analysis {
        padding-left: 40px;
      }
      // activeColor
      &.question.active > div {
        border: 1px solid $yellow;
      }
      &.hypothesis.active > div {
        border: 1px solid $orange;
      }
      &.experiment.active > div {
        border: 1px solid $green;
      }
      &.data.active > div {
        border: 1px solid $indigo;
      }
      &.analysis.active > div {
        border: 1px solid $purple;
      }
      &.hypothesis::after {
        content: '';
        width: 20px;
        display: block;
        position: absolute;
        left: 20px;
        top: -10px;
        border-bottom: 1px solid rgba(178, 180, 189, 0.5);
        border-left: 1px solid rgba(178, 180, 189, 0.5);
        height: calc(50% + 10px);
        border-top: none !important;
      }

      &.experiment::after,
      &.data::after {
        content: '';
        width: 20px;
        display: block;
        position: absolute;
        left: 20px;
        top: -60%;
        border-bottom: 1px solid rgba(178, 180, 189, 0.5);
        border-left: 1px solid rgba(178, 180, 189, 0.5);
        height: calc(100% + 20px);
        border-top: none !important;
      }
    }

    ul.childWrapper {
      list-style-type: none;
      padding-left: 40px;

      li {
        position: relative;
        &:first-child::after {
          content: '';
          width: 20px;
          display: block;
          position: absolute;
          left: 20px;
          top: -10px;
          border-bottom: 1px solid rgba(178, 180, 189, 0.5);
          border-left: 1px solid rgba(178, 180, 189, 0.5);
          height: calc(50% + 10px);
          border-top: none !important;
        }
        &:not(:first-child)::after {
          content: '';
          width: 20px;
          display: block;
          position: absolute;
          left: 20px;
          top: -60%;
          border-bottom: 1px solid rgba(178, 180, 189, 0.5);
          border-left: 1px solid rgba(178, 180, 189, 0.5);
          height: calc(100% + 20px);
          border-top: none !important;
        }
      }
    }
  }
}


.contributionDetails {
  padding: 40px;
  color: $white;

  .title {
    color: $white;
  }

  .metaTitle {
    font-family: 'Roboto-Medium';
    margin-top: 15px;
    margin-bottom: 8px;
    color: $white;
  }

  .avatarName {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 19px;

    &.author:not(:last-of-type) {
      margin-bottom: 15px;
    }

    &.author {
      color: $white;
      .avatar {
        margin-right: 23px;
        background: nth($avatar-colors, random(length($avatar-colors)));
      }
    }

    &.poster {
      font-family: 'Roboto-Medium';
      color: rgba(255, 255, 255, 0.5);
      .avatar {
        margin-right: 10px;
        background: nth($avatar-colors, random(length($avatar-colors)));
      }
    }
  }

  .date {
    color: rgba(255, 255, 255, 0.5);
  }
}
