@import '~global/styles';

.main {
  .title {
    margin-top: 10px;
    color: white
  }

  .heirarchyWrapper {
    margin-top: 13px;
    color: white;
    overflow-x: auto;
    height: 400px;
    width: 280px;
    // overflow-y: hidden;
    // overflow-x: hidden;
  
    $border: #ddd;
    $border-hover: #aaa;
    $bg-hover: #eee;
    $text: #888;
    $text-hover: #000;
    
    .questionUl {
      margin-top: 5px;
      margin-left: -30px;
      text-align: center;
      li {
        width: 0;
        opacity: 0.9;
        &.active {
          opacity: 1;
        }
        &.question {
          background-color: rgba(167, 160, 143, .5);
          width: 20px;
          height: 20px;
          border-radius: 3px;
        }
      }
    }
    .wtree {
      text-align: center;
      li {
        list-style-type: none;
        position: relative;
        margin: 10px 0px 0px 10px;

        &:before {
          content: "";
          position: absolute;
          top: -10px;
          left: -35px;
          border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          width: 35px;
          height: 21px;
        }
        &:after {
          position: absolute;
          content: "";
          top: 10px;
          left: -35px;
          border-left: 1px solid #ddd;
          border-top: 1px solid #ddd;
          width: 20px;
          height: 100%;
        }
        &:last-child:after {
          display:none;
        }
      }
    }

    .uitree {
      color: white;
      li {
        span {
          color: white;
          opacity: 0.5;
          &.active {
            opacity: 1;
          }
          &.hypothesis {
            background-color: rgba(236, 138, 33, .5);
            width: 20px;
            height: 20px;
            border-radius: 3px;
          }
          &.experiment {
            background-color: $green;
            width: 20px;
            height: 20px;
            border-radius: 3px;
          }
          &.data {
            background-color: $indigo;
            width: 20px;
            height: 20px;
            border-radius: 3px;
          }
          &.analysis {
            background-color: $purple;
            width: 20px;
            height: 20px;
            border-radius: 3px;
          }  
        }
      }
    }
  }
  
}
