@import '~global/styles';


.contributionTree {
  .title {
    color: $white;
    margin: 40px 0;
  }
  
  ul.tree {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
  
    li { 
      height: 18px;
      width: 30px;
      border-radius: 3px;
      text-align: center;
      margin-right: 7px;
      position: relative;
      color: $white;
      cursor: pointer;
      text-transform: uppercase;
      line-height: 18px;
      opacity: 0.5;

      &.active {
        opacity: 1;
      }

      &.question {
        background: $yellow;
      }
      &.hypothesis {
        background: $orange;
      }
      &.experiment {
        background: $green;
      }
      &.data {
        background: $indigo;
      }
      &.analysis {
        background: $purple;
      }

      &:last-child {
        &.question,
        &.hypothesis,
        &.experiment,
        &.data {
          &::after {
            content: '';
            border-top: none;
          }
        }
      }
      
  
      &::after {
        content: '';
        width: 7px;
        display: block;
        position: absolute;
        right: -7px;
        top: 8px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
      }

      &.analysis::after{
        display: none;
      }
    }

    ul.subtree {
      list-style-type: none;
      padding-left: 7px;
      margin-top: 3px;

      li {
        margin-bottom: 5px;
        opacity: 0.5;

        &.active {
          opacity: 1;
        }
        &:first-child {
          &::after {
            content: '';
            width: 7px;
            display: block;
            position: absolute;
            left: -7px;
            top: 8px;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            height: 13px;
            border-bottom: none;
          }
        }
        &:nth-child(2) {
          &::after {
            content: '';
            width: 7px;
            display: block;
            position: absolute;
            left: -7px;
            top: -3px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            height: 13px;
            border-top: none !important;
          }
        }
        &::after {
          content: '';
          width: 7px;
          display: block;
          position: absolute;
          left: -7px;
          top: -13px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          height: 23px;
          border-top: none;
        }
      }
    }
  }
}
