@import '~global/styles';


.heirarchyWrapper {
  margin-top: 50px;
  color: white;

  .title {
    color: white
  }

  ul.heirarchyList {
    margin-left: -20px;
    list-style: none;
    text-align: center;
    
    li.contribution {
      list-style: none;
      // activeColor
      &.question {
        background: $yellow;
        width: 20px;
        border-radius: 2px;
        height: 20px;
      }
      &.hypothesis {
        background: $orange;
        width: 20px;
        border-radius: 2px;
        height: 20px;
      }
      &.experiment {
        background: $green;
        width: 20px;
        border-radius: 2px;
        height: 20px;
      }
      &.data {
        background: $indigo;
        width: 20px;
        border-radius: 2px;
        height: 20px;
      }
      &.analysis {
        background: $purple;
        width: 20px;
        border-radius: 2px;
        height: 20px;
      }
    }
  }
  
  $border: #ddd;
  $border-hover: #aaa;
  $bg-hover: #eee;
  $text: #888;
  $text-hover: #000;
  $ident: 40px;
  $left: -($ident);
  
  .wtree {
    li {
      list-style-type: none;
      margin: 10px 0 15px 10px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top:-10px;
        left:$left;
        border-left: 1px solid $border;
        border-bottom:1px solid $border;
        width:$ident;
        height:40px;
      }
      &:after {
        position:absolute;
        content:"";
        top:41px;
        left:$left;
        border-left: 1px solid $border;
        border-top:1px solid $border;
        width:$ident;
        height:100%;
      }
      &:last-child:after {
        display:none;
      }
    }
  }
}
