@import './global/styles';

html {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background: $primary;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  font-family: $font-family;
}
