@import '~global/styles';

.staticWrapper {
  width: 100vw;
  height: 100vh;
  background: $offwhite;
  padding: 40px;
}

.contentWrapper {
  width: 100%;
  height: 100%;
  background: $secondary;
  border-radius: 12px;
  padding: 70px;
  text-align: center;
  overflow: hidden;
  position: relative;

  .logoWrapper {
    margin-bottom: 95px;

    .logo {
      width: 230px;
    }
  }

  .page404 {
    margin-bottom: 40px;
  }

  .h1 {
    color: $white;
    font-family: 'Roboto';
    margin-bottom: 65px;
  }

  .asterisk {
    &.bl {
      position: absolute;
      left: -102px;
      bottom: -65px;
    }
    &.tr {
      position: absolute;
      right: -102px;
      top: -65px;
    }
  }
}